body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 220px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    width: 200px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}

main {
    max-width: 800px;
    padding: 20px;
}

header {
    padding-bottom: 20px;
    text-align: center;
}

img.rounded-circle {
    border-radius: 50%;
}

hr {
    margin-bottom: 40px;
}

#menu-toggle {
    position: fixed;
    top: 20px;
    left: 220px;
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.hide-menu nav {
    left: -220px;
}

.hide-menu #menu-toggle {
    left: 0;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #007bff;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(even) {
    margin-left: 50%;
}

.timeline-item:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #007bff;
}

.timeline-content {
    padding-left: 40px;
    padding-right: 40px;
}

.timeline-item:nth-child(even) .timeline-content {
    padding-left: 40px;
    padding-right: 40px;
}

