body {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
main {
    max-width: 900px;
    padding: 20px;
}

header {
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 10%;
}

.rounded-circle {
    border-radius: 50%;
}

/* Timeline */
.timeline {
    display: flex;
    flex-direction: column;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.timeline-date {
    position: relative;
    width: 10ch;
    background-color: #ffffff;
    padding-right: 6px;
}

.timeline-logo {
    position: relative;
    width: calc(100% - 10ch);
    flex: 8 1 8%;
    background-color: #ffffff;
    --item-width: calc(100%);
    padding-left: 7px;
    padding-right: 9px;
}

.timeline-logo::before {
    content: "";
    /* border-radius: 50%; */
    width: 10px;
    height: 10px;
    background-color: #cfcfcf;
    position: absolute;
    left: -6px;
    top: 4px;
    transform: rotate(45deg);
}

.timeline-logo::after {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 0px;
    right: calc(var(--item-width));
    width: 2px;
    background-color: #cfcfcf;
}

.timeline-description {
    width: calc(100% - 10ch);
    flex: 92 1 92%;
    padding-bottom: 16px;
    background-color: #ffffff;
}
