<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Fukushima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <div id="head" class="container">
            <div class="about">
                <div id="faceshot">
                    <img src="/static/assets/faceshot.png"
                    alt="faceshot" width="150" height="150" class="rounded-circle">
                </div>
                <div id="name-title">
                    <h1>Ian Fukushima</h1>
                    <h3>Get data, write software, train models ⚡️💻</h3>
                    <div id="media">
                        <a href="https://twitter.com/IanIanfukushima"><img src="/static/assets/twitter.png" class="iico" /></a>
                        <a href="https://github.com/isfuku"><img src="/static/assets/github.png" class="iico"/></a>
                        <a href="https://www.linkedin.com/in/ian-fukushima/"><img src="/static/assets/linkedin.png" class="iico" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <!-- Professional Timeline -->
        <div class="container">
            <h2 class="h2-title">Professional Trajectory</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-date">
                    2022-Now
                    </div>
                    <div class="timeline-logo">
                        <img src="/static/assets/bod.png" />
                    </div>
                    <div class="timeline-description">
                        I am currently working at Blue Orange Digital as a Data Scientist, focusing on the development 
                        of data products. I have also acted as a consultant, delivering 
                        churn and customer behavior models based on time series data. I solved 
                        problems dealing with big data, developed pipelines for batch inference, 
                        machine learning model monitoring and automatic retraining, as well as 
                        implemented CI/CD pipelines.
                    </div>
                </div>

                <!-- Tabas Experience -->
                <div class="timeline-item">
                    <div class="timeline-date">2021-2022</div>
                    <div class="timeline-logo">
                        <img src="/static/assets/tabas.png" />
                    </div>
                    <div class="timeline-description">
                        During my time as a Data Scientist at Tabas, a Brazilian proptech, I developed a near 
                        real-time pipeline for estimating house prices for internal use, 
                        trained ML models to accurately predict property values, designed and implemented the company's 
                        data warehouse, and deployed web applications for realtors to facilitate in-depth 
                        analyses of apartments and their neighborhoods.
                        The approach to predicting house prices was based on an ensemble of a customized 
                        KNN model and a gradient boosting model, with apartment characteristics features and 
                        geolocation features created by a decision tree, which was equivalent to clustering the 
                        area of interest in house value zones.
                    </div>
                </div>

                <!-- Indicium -->
                <div class="timeline-item">
                    <div class="timeline-date">2020-2021</div>
                    <div class="timeline-logo">
                        <img src="/static/assets/indicium.png" />
                    </div>
                    <div class="timeline-description">
                        As a Data Scientist consultant at Indicium, I worked with a variety of clients. 
                        I developed MLOps standards for easy training and deployment of ML models, provided 
                        solutions for real estate clients by predicting demand and estimating house prices, 
                        and built a fraud detection pipeline for an e-commerce that was able to detect over 
                        $100,000 in fraud annually with minimal cost.
                        The fraud detection algorithm was trained with Google Analytics and transaction data, which 
                        were feature engineered and stored in a feature store that fed tree-based classification 
                        models.
                    </div>
                </div>

                <!-- USP -->
                <div class="timeline-item">
                    <div class="timeline-date">2019-2022</div>
                    <div class="timeline-logo">
                        <img src="/static/assets/usp.jpeg" />
                    </div>
                    <div class="timeline-description">
                        Master of Science Degree in Applied Economics at the University of São Paulo, a leading
                        institution in Latin America. My research was focused on impact evaluation and 
                        social economics, with publications addressing the effects of full-time schooling 
                        and the consequences of social distancing during the COVID-19 quarantine on crime rates.
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects and Articles -->
        <div class="container">
            <h2 class="h2-title">Research</h2>
            <div class="research">
                <!-- Full-time schooling -->
                <div class="research-entry">
                    <div class="research-title">
                        <a href="https://www.revistas.usp.br/ee/article/view/191582/189978">
                            Impacts of a full-time school program on learning, schools' composition and
                            infrastructure: The case of public schools in the state of São Paulo - Brazil</a>
                    </div>
                    <div class="research-venue">, Economic Studies <i>(Estudos Econômicos)</i>, 2022.</div>
                    <div class="research-authors">Ian Fukushima, Giovanna Pavlovic Quintão, and Elaine Toldo Pazello.</div>
                </div>
                <!-- Social Distancing and Crime -->
                <div class="research-entry">
                    <div class="research-title">
                        <a href="https://www.teses.usp.br/teses/disponiveis/96/96131/tde-24092021-152217/publico/IanSFFukushima_Corrigida.pdf">
                            Impact of social distancing due to the COVID-19 pandemic on property crimes in 
                            São Paulo: a Bayesian spatiotemporal modelling case study</a>
                    </div>
                    <div class="research-venue">, Master's Dissertation, 2022.</div>
                    <div class="research-authors">Ian Fukushima, Luiz Scorzafave.</div>
                    <!-- <div class="research-imgs">
                        <div class="research-img">
                            <img style="top: 0; left: 50.5%; width: 80%;" src="/static/assets/theft_impact.png"/>
                        </div>
                    </div> -->
                </div>
                <!-- COVID-19 underreporting -->
                <div class="research-entry">
                    <div class="research-title">
                        <a href="https://www.kaggle.com/code/ianfukushima/estimate-covid-19-based-on-sars-hospitalizations">
                            COVID-19 underreporting in Brazil: Estimating cases based on SARS hospitalizations</a>
                    </div>
                    <div class="research-venue">, 2020.</div>
                    <div class="research-authors">Ian Fukushima.</div>
                    <!-- <div class="research-imgs">
                        <div class="research-img">
                            <img style="top: 0; left: 50.5%; width: 30%;" src="/static/assets/covid_pred.png" />
                            <img style="top: 0; left: 50.5%; width: 30%;" src="/static/assets/underreport_pred.png" />
                            <img style="top: 0; left: 50.5%; width: 37%;" src="/static/assets/underreport_map.png" />
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- Misc -->
        <div class="container">
            <h2 class="h2-title">Misc</h2>
            <div class="misc">
                <div class="misc-entry">
                    <div class="misc-entry-dot"></div>
                    <div class="misc-entry-text">
                        <a href="https://www.instagram.com/foleirada/">I have a beutiful family and I want people to know.</a>
                    </div>
                </div>
                <div class="misc-entry">
                    <div class="misc-entry-dot"></div>
                    <div class="misc-entry-text">
                        I recorded <a href="https://soundcloud.com/ian-fukushima-703252952">some lo-fi songs</a> in my bedroom 
                        back when I wasn't confident I wanted to be a researcher and didn't know about data science.
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
